# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ===============================
# Entornos / dependencias
# ===============================
.env
.venv/
venv/

# ===============================
# Docker
# ===============================
*.log
docker-compose.override.yml

# ===============================
# OS / IDE
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# GIS / datos pesados
# ===============================
data/
*.tif
*.tiff
*.vrt
*.nc
*.grib
*.grb
*.hdf
*.h5
*.zip
*.7z

# ===============================
# Outputs
# ===============================
output/
results/
cache/
tmp/

# ===============================
# Secrets
# ===============================
*.key
*.pem
*.crt
secrets/

